[run]
branch = True
omit =
    *__init__.py*

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    pragma: no cover
    def _[^(]*[^_][(]
    raise BaseException
    raise ValueError
    raise ApiError
    except Exception as e:
    except BaseException as e:
    except ValueError as e:
    (.*)except Exception as e:(.*)
    (.*)except BaseException as e:(.*)
ignore_errors = True